Repository BartShoot/fknexe, pull requests merged in 2025-03, with the labels that each got.

#28 add size-limit workflow
  .github/workflows/size-limit.yml
  package-lock.json
  package.json
Labels: config, ci, dependencies

#29 update deps to latest
  package-lock.json
  package.json
Labels: config, dependencies

#23 prototype ranking service
  .husky/pre-commit
  package-lock.json
  package.json
  src/components/GithubClientTester.tsx
  src/services/PackageService.ts
Labels: config, dependencies, frontend, components, react, typescript

#31 Cleanup design
  .github/labeler.yml
  .prettierrc
  astro.config.mjs
  components.json
  cva.config.ts
  eslint.config.js
  llm/astro-components.mdx
  llm/astro-layouts.mdx
  llm/astro-markdown-context.mdx
  llm/astro-mdx.mdx
  llm/astro-pages.mdx
  llm/astro-preact.mdx
  llm/astro-project-structure.mdx
  llm/nuqs README.md
  llm/preact-differences-to-react.md
  llm/preact-signals.md
  llm/preact-switching-from-react.md
  llm/preact-tutorial.md
  llm/prompt.txt
  package-lock.json
  package.json
  src/clients/github/api.ts
  src/components/Button.tsx
  src/components/GithubClientTester.tsx
  src/components/RepositoryDetail.tsx
  src/components/SearchForm.tsx
  src/components/UserRepositories.tsx
  src/components/features/DownloadSection.tsx
  src/components/theme-provider.tsx
  src/components/ui/button-link.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/download-button.tsx
  src/components/ui/form.tsx
  src/components/ui/gradient-text.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/mode-toggle.tsx
  src/components/ui/tooltip.tsx
  src/layouts/App.tsx
  src/layouts/Layout.astro
  src/lib/types.ts
  src/lib/utils.ts
  src/pages/github.astro
  src/pages/index.astro
  src/pages/user.astro
  src/pages/user/repository.astro
  src/services/PackageService.ts
  src/styles/global.css
Labels: documentation, config, dependencies, frontend, components, react, typescript, pages, layouts, styles, astro, user-experience, github-api

#30 Package ranking test
  package-lock.json
  package.json
  src/lib/types.ts
  src/services/PackageService.ts
  src/tests/PackageService.test.ts
  src/tests/data/packages.mock.ts
  vitest.config.ts
Labels: config, dependencies, frontend, typescript

#32 Ranked packages view
  astro.config.mjs
  src/components/RankedReleases.tsx
  src/components/RepositoryDetail.tsx
  src/components/features/DownloadSection.tsx
  src/lib/types.ts
  src/services/PackageService.ts
Labels: config, frontend, components, react, typescript, user-experience
